
body{
  background:#e6e6ff;
  font-family: 'Encode Sans', sans-serif;
}

/* navigation bar */
#scanfcode{
  border-radius:0px;
  background:#fff;
  padding:10px;
  font-size:17px;
}

/* logo or main heading */
#logo{
  font-size:20px;
  font-weight:bolder;
  color:#00004d;
  letter-spacing:2px;
}

/* navigation links*/
#link a{
  color:#01325d;
  margin:0 20px 0 10px;
  letter-spacing:1.5px;
}

/* navigation link with right border */
#first-link{
  padding-right:6px;
  border-right:solid 1px #ccc;
}

/* sign up link button and toggle button */
#button-link ,#toogle-button{
  color:#f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  border-radius: 2px;
  background-color: #fa6a48;
  line-height: 17px;
}

#button-link a{
  color:#f2f2f2;
}

footer{
  background:url("");
    text-align:center;
}

footer h4{
  padding-top:10px;
  font-size:1.5em;
  color:white;
  text-shadow:1px 1px 1px grey;
  margin-bottom:10px;
}

.button{  
  display:inline-block;
  color:white;
  background-color:#00b2b0;
  padding:5px;
  border-radius:5px;  
  text-shadow:1px 1px 1px grey;
}

#links div{
  display:inline-block;
  vertical-align:top;
  width:20%;    
  color:white;
  text-align:left;
}

footer p{ 
  margin-top:10px; 
  width:100%;  
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  text-transform:uppercase;  
  background-color:black;
}

ul{
  padding-left:0px;
}
ul li{  
  list-style-position:inside;
  list-style-type:none;    
}

/* LandingPage */

@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://i.imgur.com/wCG2csZ.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: -2px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}

h1:after {
  display: block;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Poiret One', sans-serif;
  content: 'Subtitle goes here';
  font-size: .4em;
  text-align: center;
}

.button-line {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  opacity: .8;
  padding: 20px 40px;
  text-decoration: none;
  transition: all .5s ease;
  margin: 0 auto;
  display: block;
  width: 100px;
}

.button-line:hover {
  opacity: 1;
}

.indexbody {
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  -webkit-animation: Background 25s ease infinite;
  -moz-animation: Background 25s ease infinite;
  animation: Background 25s ease infinite;
  }