{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

{% block content %}

<body>
    <div class="container-fluid" style="margin-top:5%;">
            <div class="container-fluid">
                    <!-- Businesses -->
                    <div class="col-md-4">
                            <a href="{% url 'hoodapp:businesses'%}">
                                <div class="panel panel-default" >
                                    <div class="panel heading;" style="height:50px;">
                                        <p>Businesses</p>
                                    </div>
                                    <div class="panel-body" style="height:300px;">
                                        
                                            <img class="card-img-top dark"
                                                src="/static/images/business.png"
                                                style="width:330px;height:250px;">
                                                <br>
                                                <br>
                                                <div class="text-center">
                                                        <a href="{% url 'hoodapp:new_business' %}">
                                                        <button class="btn btn-primary" style="height:50px;  margin-top: -6px;margin-left: -90px;">Register New Business</button>
                                                        </a>
                                                </div>
                                        </div>
                                    
                            </a>
                    
                    </div>
                    <br>
                    <br>

                    <!-- NeigbourHoods -->
                    <div class="col-md-4">
                            <a href="{% url 'hoodapp:all_hoods'%}">
                                <div class="panel panel-default" >
                                    <div class="panel heading;" style="height:50px;">
                                        <p>NeigbourHoods</p>
                                    </div>
                                    <div class="panel-body" style="height:300px;">
                                        
                                            <img class="card-img-top dark"
                                                src="/static/images/business.png"
                                                style="width:330px;height:250px;">
                                                <br>
                                                <br>
                                                <div class="text-center">
                                                        <a href="{% url 'hoodapp:new_hood' %}">
                                                        <button class="btn btn-primary" style="height:50px;  margin-top: -6px;margin-left: -90px;">Register New Neighbourhood</button>
                                                        </a>
                                                </div>
                                        </div>
                                    
                            </a>
                    </div>
                    <br>
                    <br>
                    
                    <!-- Display Posts -->
                    <br>
                    <br>
                    <div class="container"> 
                        <section class="col-md-8 col-sm-12">
                            <h3 style="text-align:center;font-size: 28px">Posts</h3>
                            <br>
                            <a href="{% url 'hoodapp:new_post' %}">
                                    <button class="btn btn-primary" style="height:50px;  margin-top: -6px; margin-right: -30px ;">Create New Post</button>
                            </a>
                            <hr>
                            {%if posts %} 
                            {% for post in posts %}
                            <p>
                                Title: <span style="color:rgb(29, 26, 194); text-emphasis: bold;">{{post.title}}</span> 
                                    
                            </p>
                            <p>
                                <span style="color:rgb(5, 5, 54)"> {{post.user}}</span> {{post.message}}
                                
                            </p>

                            {% endfor %}
                                {% else %}
                            <p style="text-align:center">No Posts Available</p>
                            {% endif %}
                        </section>
                    </div>
            </div>
    </div>
{% endblock %}
</body>

                