<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<style>
    body {
    background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
    }
</style>

<body>
    <div class="full-screen">
        <div>
            <h1>Hood Eye 👁</h1>
            <p>Your Neighbourhood Watch App</p>
            <br>
            <a class="button-line" href="{% url 'hoodapp:login' %}">Log In</a> 
            <a class="button-line" href="{% url 'hoodapp:signup' %}">Sign Up</a> 
        </div>
    </div>
</body>

<footer>
    <h4>Hood Eye</h4>
    <h3 class="button">Download on Google Play</h3>
    <div id="links"><div><h4>About</h4>
    <ul>
        <li>Company</li>
        <li>Company</li>
        <li>Company</li>
        </ul></div>  

    <div><h4>Legal</h4>
    <ul>
        <li>Company</li>
        <li>Company</li>
        <li>Company</li>
        </ul></div>
    <div><h4>Support</h4>
    <ul>
        <li>Company</li>
        <li>Company</li>    
        </ul></div>
    <div><h4>Social</h4>
    <ul>
        <li>Company</li>
        <li>Company</li>
        <li>Company</li>
        </ul></div></div>
    <p>Hood Eye by ExistentialCrisis © All right reserved 2020.</p>